<div class="container">
    <div class="row">
        <div class="col s12 m6 l6 offset-l2 offset-m2">
            <p class="black-text darken-1">We would love to hear from you. Send us a message and we shall get back to you.</p>
            <form>
                <div class="input-field">
                    <i class="mdi-action-account-circle prefix"></i>
                    <input id="first" type="text" name="first-name" class="validate">
                    <label for="first">First Name</label>

                </div>
                <div class="input-field">
                    <i class="mdi-action-account-circle prefix"></i>
                    <input id="last" type="text" name="last-name" class="validate">
                    <label for="last">Last Name</label>
                </div>
                <div class="input-field">
                    <i class="mdi mdi-email prefix"></i>
                    <input id="email" type="text" name="last-name" class="validate">
                    <label for="email">Your email</label>
                </div>
                <div class="input-field">
                    <i class="mdi-editor-mode-edit prefix"></i>
                    <textarea id="message" name="message" class="materialize-textarea"></textarea>
                    <label for="message">Your Message</label>
                </div>
                <div class="input-field">
                    <button class="btn waves-effect waves-light btn-flat more" type="submit" name="action">Submit
                        <i class="mdi-content-send right"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>