<div class="container">
    <div class="center">
        <h4 class="black-text c-header">Gallery</h4><span class="colored-line"></span>
    </div>
    <div class="row gallery">
        <div class="col s12 m4 l4">
            <img src="images/slider1.jpg" class="materialboxed jello" data-caption="This image's caption" boxed>
        </div>
        <div class="col s12 m4 l4">
            <img src="images/slider2.jpg" class="materialboxed" data-caption="This image's caption"  boxed>
        </div>
        <div class="col s12 m4 l4">
            <img src="images/slider3.jpg" class="materialboxed" data-caption="This image's caption"  boxed>
        </div>
        <div class="col s12 m4 l4">
            <img src="images/slider4.jpg" class="materialboxed" data-caption="This image's caption" width="250" boxed>
        </div>
        <div class="col s12 m4 l4">
            <img src="images/slider1.jpg" class="materialboxed" data-caption="This image's caption" width="250" boxed>
        </div>
        <div class="col s12 m4 l4">
            <img src="images/slider2.jpg" class="materialboxed" width="250" boxed>
        </div>
        <div class="col s12 m4 l4">
            <img src="images/slider3.jpg" class="materialboxed" width="250" boxed>
        </div>
        <div class="col s12 m4 l4">
            <img src="images/slider4.jpg" class="materialboxed" width="250" boxed>
        </div>
        <div class="col s12 m4 l4">
            <img src="images/slider1.jpg" class="materialboxed" width="250" boxed>
        </div>
        <div class="col s12 m4 l4">
            <img src="images/slider2.jpg" class="materialboxed" width="250" boxed>
        </div>
        <div class="col s12 m4 l4">
            <img src="images/slider3.jpg" class="materialboxed" width="250" boxed>
        </div>
        <div class="col s12 m4 l4">
            <img src="images/slider4.jpg" class="materialboxed" width="250" boxed>
        </div>
        <div class="col s12 m4 l4">
            <img src="images/slider1.jpg" class="materialboxed" width="250" boxed>
        </div>
        <div class="col s12 m4 l4">
            <img src="images/slider2.jpg" class="materialboxed" width="250" boxed>
        </div>
        <div class="col s12 m4 l4">
            <img src="images/slider3.jpg" class="materialboxed" width="250" boxed>
        </div>
    </div>
</div>