<div class="container center">
    <div class="center">
        <h4 class="black-text c-header">Our Team</h4><span class="colored-line"></span>
    </div>
    <div class="row ">
        <div class="col s12 m4 l4">
            <img src="images/profile-img.png" class="team-img">
            <p class="black-text member-name">Beckton Cess</p>
            <p class="black-text light">Chairperson</p>
        </div>
        <div class="col s12 m4 l4">
            <img src="images/profile-img.png" class="team-img">
            <p class="black-text member-name">Member Name</p>
            <p class="black-text light">Position</p>
        </div>
        <div class="col s12 m4 l4">
            <img src="images/profile-img.png" class="team-img">
            <p class="black-text member-name">Member Name</p>
            <p class="black-text light">Position</p>
        </div>
        <div class="col s12 m4 l4">
            <img src="images/profile-img.png" class="team-img">
            <p class="black-text member-name">Member Name</p>
            <p class="black-text light">Position</p>
        </div>
        <div class="col s12 m4 l4">
            <img src="images/profile-img.png" class="team-img">
            <p class="black-text member-name">Member Name</p>
            <p class="black-text light">Position</p>
        </div>
    </div>
</div>